  <div *ngFor="let children of data; let i = index" id="{{children.id}}">
    <div class="d-flex bd-highlight line" (click)="setCheckbok($event, 'divClick')">
        <div class="mr-auto p-2 bd-highlight">
           <input type="checkbox" (click)="setCheckbok($event, 'inputClick')" [ngStyle]="{'margin-left.px': level * 20}"> 
            {{children.name}}
        </div>
        <div class="p-2 bd-highlight">
            <i *ngIf="children.children && children.children.length > 0" class="fa fa-chevron-up align-items-sm-end" aria-hidden="true" (click)="openTree($event)" id="icon{{children.id}}"></i> &nbsp;&nbsp;
        </div>
      </div>
      <children [data]="children.children" [level]="level"></children>
  </div>