  <!--<ul *ngFor="let children of data">
    <li style="color:blue">{{children.name}}</li>
    <children [data]="children.children"></children>
  </ul>-->
  <div class="list-group" *ngFor="let children of data; let i = index" id="{{children.id}}">
      <a class="list-group-item list-group-item-action">
        <div [ngStyle]="{'margin-left.px': level * 20}">
          <input type="checkbox" (click)="toggle($event)"> 
          {{children.name}}
            <!--{{indexDad + 1}}-{{i + 1}}-{{level}}-->
        </div>
         
      </a>
      <children [data]="children.children" [level]="level" [indexDad]="indexDad + 1" [indexChild]="i + 1"></children>
  </div>