<div class="header">
    <h4 class="title text-center">Listagem de repositórios de determinado usuário</h4>
</div>

<div class="row content-margin">
  <div class="col-6">
      <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Digite o nome do seu usuário no github" [(ngModel)]="textSearch" >
          <div class="input-group-append">
            <button class="btn btn-outline-info" (click)="onSearchRepositories()" type="button">Buscar</button>
          </div>
        </div>
  </div>
</div>

<repository-list [data]="service.list"></repository-list>
