<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand text-light" [routerLink]='["/"]'>Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav">
            <li class="nav-item" [routerLinkActive]='["link-active"]'>
              <a class="nav-link text-light" [routerLink]='["/tree-list"]'>Tree-view</a>
          </li>
        </ul>
    </div>
    </div>
  </nav>
</header>
